body {
		background-color: #343a40f2 !important;
}
#tab-content {
	color: var(--light);
}

#ajaxContainer {
	margin: 0 8px;
}

.is-invalid {
	border-width: 1.5px;
    background-color: #f8d7da;
    z-index: 10;
}
.is-valid {
	border-width: 1.5px;
    background-color: #d4edda;
    z-index: 10;
}

.btn-outline-secondary {
	font-weight: bolder;
}

#weapon {
	display: none;
}

@media (min-width: 576px) {
	#content {
		margin: 36px;
	}

	#tab-content {
		padding: 12px;
	}

	#costs {
		position: fixed;
		right: 64px;
		font-size: 110%;
		bottom: 32px;
		border: 1px solid #222;    
		z-index: 10;
	}

	[name=submitButton] {
		margin-top: 8px;
	}
}
@media (max-width: 575.98px) {
	.nav-pills .nav-link {
		border-radius: 0;
	}
	
	.accordion .card {
		border-right: none;
		border-left: none;
		border-radius: 0;
	}
	
	#tab-content {
		margin-top: 8px;
	}
	
	[name=submitButton] {
		margin: 8px auto;
		display: block;
		width: 90%;
	}
	
	#costs {
		box-shadow: none !important;
		margin: 8px 4px;
	}
}
.input-group {
	margin: 4px 0;
}